html{
    font-family: Helvetica, sans-serif;
}
body {
  margin-inline: 60px;
}

h1 {
  display: inline-block;
  margin-right: 100px;
  margin-top: 70px;
  margin-bottom: 15px;
}
nav {
  display: inline-block;
}
nav ul li {
  padding-inline: 15px;
  display: inline-block;
  text-decoration: none;
  color: #009952;
}
nav ul li a {
  text-decoration: none;
  color: #009952;
}
hr {
  border-style: solid;
  margin-bottom: 30px;
}
